@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  :root {
    --gradient: #33CC99;

    --background: 170 6% 97.5%;
    --foreground: 170 39% 4%;

    --muted: 170 6% 55%;
    --muted-foreground: 170 30% 15%;

    --popover: 170 6% 97.5%;
    --popover-foreground: 170 53% 6.5%;

    --card: 170 6% 97.5%;
    --card-foreground: 170 53% 6.5%;

    --border: 170 30% 15%;
    --input: 170 30% 15%;


    --primary: 170 60% 50%;
    --primary-foreground: 170 6% 5%;

    --secondary: 170 6% 97.5%;
    --secondary-foreground: 170 30% 15%;

    --accent: 170 6% 97.5%;
    --accent-foreground: 170 30% 15%;

    --destructive: 170 6% 97.5%;
    --destructive-foreground: 0 62.8% 30.6%;

    /* --ring: 170 60% 50%; */
    --radius: 0.5rem;
  }

  .dark {
    --gradient: #33CC99;
    --radius: 0.5rem;

    --background: 170 39% 4%;
    --foreground: 170 6% 97.5%;

    --muted: 170 30% 15%;
    --muted-foreground: 170 6% 55%;

    --popover: 170 53% 6.5%;
    --popover-foreground: 170 6% 97.5%;

    --card: 170 53% 6.5%;
    --card-foreground: 170 6% 97.5%;

    --border: 170 30% 15%;
    --input: 170 30% 15%;

    --primary: 170 60% 50%;
    --primary-foreground: 170 6% 5%;

    --secondary: 170 30% 15%;
    --secondary-foreground: 170 6% 97.5%;

    --accent: 170 30% 15%;
    --accent-foreground: 170 6% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 170 6% 97.5%;

    /* --ring: 170 60% 50%; */

  }


}

@layer utilities {

  .wu-max {
    @apply max-w-[1440px] mx-auto px-7 max-sm:px-3
  }


  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start gap-5 items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply font-bold text-[40px] leading-[48px] lg:text-[48px] lg:leading-[60px] xl:text-[58px] xl:leading-[74px];
  }

  /* 40 */
  .h2-bold {
    @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply w-full bg-grey-50 h-[54px] placeholder:text-grey-500 rounded-full p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent !important;
  }

  .input-field {
    @apply bg-grey-50 h-[54px] focus-visible:ring-offset-0 placeholder:text-grey-500 rounded-full p-regular-16 px-4 py-3 border-none focus-visible:ring-transparent !important;
  }

  .textarea {
    @apply bg-grey-50 flex flex-1 placeholder:text-grey-500 p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent !important;
  }

  .button {
    @apply rounded-full h-[54px] p-regular-16;
  }

  .select-item {
    @apply py-3 cursor-pointer focus:bg-primary-50;
  }

  .toggle-switch {
    @apply bg-gray-300 !important;
  }
}

/* ========================================== CLERK STYLES */
.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #705CF7
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #624cf5 !important;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: #33CC99;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  width: 5px;
  border-radius: 20px;
  border: 1px solid #33CC99;
}